@use "../../style/main" as *;

.presentation {
  width: 100%;
  color: $nude;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(180deg, $bleu-turkish 0%, $brun 25%, $vert-sombre 50%, $bleu-turkish 75%);

  .presentation-section {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }
    .presentation-subtitle {
      font-family: $font-script3;
      font-size: 35px;
      font-weight: normal;
      margin-left: $spacing-sm;
      @include lg {
        font-size: 31px;
      }
      @include md {
        font-size: 29px;
      }
      @include sm {
        font-size: 27px;
      }
      @include xs {
        font-size: 23px;
      }
    }
    .presentation-text {
      font-size: 20px;
      font-family: $font-secondary;
      font-weight: normal;
      margin-left: $spacing-sm;
      @include lg {
        font-size: 19px;
      }
      @include md {
        font-size: 17px;
      }
      @include sm {
        font-size: 15px;
      }
      @include xs {
        font-size: 13px;
      }
    }
    .text {
      flex: 1;
      padding: 1rem 2rem;
      color: $nude;
      @include lg {
        font-size: 20px;
      }
      @include md {
        font-size: 18px;
      }
    }

    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%; //  bulle
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
        overflow: hidden;
        &:hover {
          transform: scale(1.05);
        }
        @include lg {
          width: 210px;
          height: 210px;
        }
        @include md {
          width: 190px;
          height: 190px;
        }
        @include sm {
          width: 150px;
          height: 150px;
        }

        @include xs {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
  .about-cta {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
  }
  .cta-about-button {
    background: linear-gradient(45deg, $brun, $bleu-turkish);
    color: $nude;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
    @include md {
      font-size: 14px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }
}
