/* Formulaire Contact / Réservation */
@use "../../style/main" as *;

.contact-form-section {
  background: linear-gradient(180deg, $bleu-turkish 0%, $vert-sombre 50%, $bleu-turkish 97%); /* beige vers vert clair */

  font-weight: normal;
  box-sizing: border-box;
  width: 70%;
  margin: 5% 0 0 0;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.5);
  @include md {
    width: 80%;
    padding: 3%;
  }
}

.form-title {
  font-family: $font-serif;
  color: $nude;
  font-weight: bold;
  @include md {
    font-size: 1.7rem;
  }
  @include sm {
    font-size: 1.4rem;
  }
  @include xs {
    font-size: 1.1rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  @include md {
    font-size: 1rem;
  }
  @include sm {
    font-size: 0.9rem;
  }
  @include xs {
    font-size: 0.8rem;
  }
}

.input-wrapper input,
.input-wrapper textarea {
  padding: 8px;
  font-size: 1rem;
  background-color: $nude;
  border: 1px solid $nude;
  border-radius: 4px;
  resize: vertical;
  @include md {
    font-size: 0.9rem;
  }
  @include sm {
    font-size: 0.8rem;
  }
  @include xs {
    font-size: 0.7rem;
  }
}

.input-wrapper textarea {
  min-height: 80px;
}

.submit-button {
  display: block;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2%;
  justify-self: center;
  border: none;
  border-radius: 4px;
  background: linear-gradient(45deg, $vert-sombre, $nude);

  color: $brun;
  cursor: pointer;
  transition: $sauge-fonce 0.3s ease;
  @include sm {
    font-size: 13px;
  }
  @include xs {
    font-size: 10px;
  }
}

.submit-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
  background: linear-gradient(45deg, $nude, $vert-sombre);
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}
.input-wrapper select {
  font-family: $font-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 7px;
  border: 1px solid $nude;
  border-radius: 4px;
  background-color: $nude;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  @include md {
    font-size: 0.9rem;
  }
  @include sm {
    font-size: 0.8rem;
  }
  @include xs {
    font-size: 0.7rem;
  }
}

.presta-option {
  font-size: 0.9rem;

  @include md {
    font-size: 0.7rem;
  }
  @include sm {
    font-size: 0.6rem;
  }
  @include xs {
    font-size: 0.55rem;
  }
}

.calendar-toggle {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.dispo-day {
  background: $vert-sombre !important;
  border-radius: 50% !important;
  color: black !important;
}

.not-dispo-day {
  color: #ccc !important; /* dates sans créneau en gris */
}
