.contact-container {
  width: 60%;
  background: linear-gradient(180deg, #104245 0%, #90a88f 25%, #a8b276 70%, #104245 95%); /* beige vers vert clair */
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-height: 100vh;
  font-family: "Libre Baskerville", serif;
  position: relative;
}
