@use "../../style/main" as *;

.contact-container {
  width: 65%;
  background: linear-gradient(180deg, $bleu-turkish 0%, $vert-sombre 25%, $vert-plante 70%, $bleu-turkish 95%); /* beige vers vert clair */
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  min-height: 100vh;
  font-family: $font-serif;
  position: relative;
  @include lg {
    width: 75%;
  }
  @include md {
    width: 80%;
  }
  @include sm {
    width: 90%;
  }
  @include xs {
    width: 93%;
  }
}
