@use "../../style/main" as *;

.contact-container {
  
  width: 85%;
  background: linear-gradient(180deg, $bleu-turkish 10%, $vert-sombre 50%,  $bleu-turkish 95%); /* beige vers vert clair */
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  font-family: $font-serif;
  position: relative;

    &::after {
    content: "";
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0;
    
    background-image: url("../../assets/logos/logofm_2px.png");
    background-repeat: repeat;
    background-size: 70px 70px;

    filter: blur(1px);        // 🔥 BLUR
    opacity: 0.2;            // 🔥 effet luxe discret
    pointer-events: none;     // 🔑 ne bloque pas les clics
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1; // contenu AU-DESSUS du motif
  }


}

