@use "../../style/main" as *;

.reflexo-container {
  background: linear-gradient(180deg, $bleu-turkish 0%, $nude-clair 25%, $brun-lgt 70%, $bleu-turkish 95%); 
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-height: 100vh;
  font-family: "Libre Baskerville", serif;
  position: relative;
}

.reflexo-content {
  width: 70%;
  background-color: $nude; 
  background: linear-gradient(180deg, $bleu-turkish 0%, $brun 20%, $brun-lgt 50%, $brun 75%, $bleu-turkish 95%);
  padding: 40px 50px;
  border: 2px solid $brun-lgt; 
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(100, 140, 80, 0.15); /* ombre verte douce */
  display: flex;
  flex-direction: column;
  position: relative;
}

.reflexo-title {
  border-bottom: 2px solid $brun-lgt; /* ligne sous le titre */
}

.reflexo-subtitle {
  font-family: $font-serif;
  font-size: 24px;
  color: $nude;
  margin-top: 30px;
  margin-bottom: 15px;
  border-left: 4px solid $nude-fonce;
  padding-left: 10px;
  @include lg {
    font-size: 19px;
  }
  @include md {
    font-size: 17px;
  }
}

.reflexo-text {
  font-size: 16px;
  line-height: 1.8;
  color: $nude;
  margin-bottom: 25px;
  text-align: start;
  @include lg {
    font-size: 15px;
  }
  @include md {
    font-size: 12px;
  }
}

.reflexo-text:first-letter {
  font-size: 22px;
  font-weight: bold;
  color: $nude-clair;
  @include lg {
    font-size: 20px;
  }
  @include md {
    font-size: 16px;
  }
}

/* CTA */
.reflexo-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.cta-reflexo-button {
  background: linear-gradient(45deg, $brun, $brun-lgt);
  color: #fffdf5;
  border: none;
  border-radius: 25px;
  padding: 15px ;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
  @include md {
    font-size: 13px;
  }
  @include sm {
    font-size: 12px;
  }
  @include xs {
    font-size: 11px;
  }
}

.cta-reflexo-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
  background: linear-gradient(45deg, $brun-lgt, $brun);
}
