@use "../../style/main" as *;

/* Container général avec dégradé doux type nature */
.reflexo-container {
  background: linear-gradient(180deg, #104245 0%, #f5d5a5 25%, #d9a273 70%, #104245 95%); /* beige vers vert clair */
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-height: 100vh;
  font-family: "Libre Baskerville", serif;
  position: relative;
}

/* Bloc article type papier naturel */
.reflexo-content {
  width: 70%;
  background-color: #fffdf5; /* papier clair */
   background: linear-gradient(180deg, $nude-rose 0%, $nude 20%, $nude-clair 50%, $nude-fonce 75%, $nude-clair 99%); /* beige vers vert clair */

  padding: 40px 50px;
  border: 2px solid #c7a17a; /* brun clair */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(100, 140, 80, 0.15); /* ombre verte douce */
  display: flex;
  flex-direction: column;
  position: relative;
}

.reflexo-title {
  color: #4a3f35;
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #c7a17a; /* ligne sous le titre */
  padding-bottom: 10px;
  @include lg {
    font-size: 25px;
  }
  @include md {
    font-size: 22px;
  }
}

.reflexo-subtitle {
  color: #4a3f35;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-left: 4px solid #7a5c3d;
  padding-left: 10px;
  @include lg {
    font-size: 19px;
  }
  @include md {
    font-size: 17px;
  }
}

.reflexo-text {
  font-size: 16px;
  line-height: 1.8;
  color: #4a3f35;
  margin-bottom: 25px;
  text-align: justify;
  @include lg {
    font-size: 15px;
  }
  @include md {
    font-size: 12px;
  }
}

.reflexo-text:first-letter {
  font-size: 22px;
  font-weight: bold;
  color: #7a5c3d;
  @include lg {
    font-size: 20px;
  }
  @include md {
    font-size: 16px;
  }
}

/* CTA */
.reflexo-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.cta-reflexo-button {
  background: linear-gradient(45deg, #7a5c3d, #c7a17a);
  color: #fffdf5;
  border: none;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
}

.cta-reflexo-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
  background: linear-gradient(45deg, #c7a17a, #7a5c3d);
}
