@use "../../style/main" as *;

.fm-collapse {
  border: 1px solid #f8e6d5;
  border-radius: 20px;
  background-color: #f8e6d5;
  margin-bottom: 2%;
  .collapse-toggle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .collapse-content {
    margin-top: 0.5rem;
  }

  .arrow-toggle {
    width: 45px;
    height: 40px;
    transition: transform 0.3s;
    align-self: center;
    margin: 3%;
    @include md {
      width: 35px;
      height: 30px;
    }
    @include sm {
      width: 25px;
      height: 20px;
    }
    @include xs {
      width: 20px;
      height: 15px;
    }
  }

  .toggleActive {
    transform: rotate(180deg);
  }
}

.collapse-title {
  color: #104245;
  font-family: "Libre Baskerville";
  font-size: 17px;
  text-align: center;
  align-self: center;
  margin: 2%;
  @media only screen and (max-width: 1240px) {
    font-size: 13px;
  }
}

.collapse-text {
  color: #104245;
  font-family: "Libre Baskerville";
  font-size: 15px;
  align-self: center;
  margin: 3%;
  @media only screen and (max-width: 1240px) {
    font-size: 12px;
  }
}
