@use "../../style/main" as *;

.fm-collapse {
  border: 1px solid $nude;
  border-radius: 20px;
  background-color: $nude;
  margin-bottom: 2%;
  .collapse-toggle {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
  }

  .collapse-content {
    margin-top: 0.5rem;
  }

  .arrow-toggle {
    width: 45px;
    height: 40px;
    transition: transform 0.3s;
    align-self: center;
    margin-right: 3%;
    @include md {
      width: 35px;
      height: 30px;
    }
    @include sm {
      width: 25px;
      height: 20px;
    }
    @include xs {
      width: 20px;
      height: 15px;
    }
  }

  .toggleActive {
    transform: rotate(180deg);
  }
}

.collapse-title {
  font-family: $font-serif;
  color: $bleu-turkish;
  text-align: center;
  align-self: center;
  margin: 2%;
  font-size: 22px;
  @include lg {
    font-size: 21px;
  }
  @include md {
    font-size: 17px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xs {
    font-size: 11px;
  }
}

.collapse-text {
  font-family: $font-serif;
  color: $bleu-turkish;
  align-self: center;
  margin: 3%;
  font-size: 19px;
  @include lg {
    font-size: 17px;
  }
  @include md {
    font-size: 15px;
  }
  @include sm {
    font-size: 12px;
  }
  @include xs {
    font-size: 10px;
  }
}
