@use "../../style/main" as *;

.about-container {
  background: linear-gradient(180deg, $bleu-turkish 0%, $vert-sombre 25%, $vert-plante 70%, $bleu-turkish 95%); 
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-height: 100vh;
  font-family: $font-serif;
  position: relative;
}
