@use "../../style/main" as *;

.fm-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: $bleu-turkish;

  @include md {
    height: 130px;
  }
  @include md {
    height: 120px;
  }
}

.logo_section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  width: 65%;
}
.logo-fm {
  width: 90px;
  height: 90px;
  color: $nude;
  &:hover {
    transform: scale(1.1);
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
  }
  @include md {
    width: 80px;
    height: 80px;
  }
  @include sm {
    width: 70px;
    height: 70px;
  }
  @include xs {
    width: 60px;
    height: 60px;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $nude;
  margin-right: $spacing-sm;
}
.title-fm {
  font-size: 18px;
  font-family: $font-secondary;
  margin: 0;
  font-weight: normal;

  @include lg {
    font-size: 16px;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 12px;
  }
  @include xs {
    font-size: 10px;
  }
}

.fm {
  font-size: 48px;
  font-family: $font-script2;
  margin: 0;
  margin-bottom: 0;
  font-weight: normal;
  @include lg {
    font-size: 45px;
  }
  @include md {
    font-size: 42px;
  }
  @include sm {
    font-size: 39px;
  }
  @include xs {
    font-size: 35px;
  }

  span {
    font-family: $font-script4;
    font-size: 56px;
    font-weight: normal;
    margin: 0;
    @include lg {
      font-size: 53px;
    }
    @include md {
      font-size: 50px;
    }
    @include sm {
      font-size: 47px;
    }
    @include xs {
      font-size: 44px;
    }
  }
}

.menu_section {
  width: 30%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.home-link {
  font-family: $font-serif;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
  color: $nude;
  margin-left: $spacing-sm;
  &:hover {
    color: $sauge-fonce;
  }
}

.burger {
  //display: none;
  display: block;

  align-self: center;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: $nude;
  margin-right: $spacing-sm;
  &:hover {
    transform: scale(1.2);
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
  }
  @include md {
    margin-right: $spacing-xs;
  }
}

.mobile-menu {
  display: none; // caché par défaut
  position: absolute;
  top: 100%;
  right: 0;
  background: $nude;
  border: 1px solid $bleu-turkish;
  border-radius: $radius-md 0 0 $radius-md;
  padding: $spacing-sm $spacing-md;
  width: 160px;
  z-index: 100;

  .home-link {
    display: block;
    color: $bleu-turkish;
    font-size: 1rem;
    margin: 12px 0;
  }
}

/* --- Responsive --- */
.mobile-menu {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
  background: $bleu-turkish;
  border-radius: $radius-md 0 0 $radius-md;
  padding: $spacing-sm $spacing-md;
  width: 110px;
  /* caché par défaut */
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  @include lg {
    width: 100px;
  }
  @include md {
    width: 95px;
  }
  @include sm {
    width: 90px;
  }
  @include xs {
    width: 70px;
  }

  .home-link {
    display: block;
    color: $nude;
    font-size: 1rem;
    margin: 12px 0;
    @include lg {
      font-size: 18px;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 12px;
    }
  }
  /* affichage quand le burger est ouvert */
  &.open {
    transform: translateX(0);
    display: block;
  }
}
