@use "../../style/main" as *;

.fm-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 180px;
  background-color: $bleu-turkish;

  @include md {
    height: 135px;
  }
}

.logo-fm {
  width: 145px;
  height: 145px;
  filter: blur(1px);
  z-index: 10;
  &:hover {
    transform: scale(1.1);
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
  }
  @include md {
    width: 110px;
    height: 110px;
  }
}

.fm {
  color: $nude;
  font-size: 46px;
  font-family: $font-script2;
  margin: 0;
  font-weight: normal;
  position: absolute;

  @include lg {
    font-size: 45px;
  }
  @include md {
    font-size: 42px;
  }
  @include sm {
    font-size: 39px;
  }
  @include xs {
    font-size: 35px;
  }
}

.title-fm {
  color: $nude;
  font-size: 18px;
  font-family: $font-secondary;
  margin: 0;
  font-weight: normal;
  position: absolute;
  top: 60%;
  @include lg {
    font-size: 16px;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 12px;
  }
}

.fm-logo-link {
  text-decoration: none;
  color: $nude;
  &:hover {
    transform: scale(1.1);
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
  }
}

.logo-overlay {
  position: absolute;
  inset: 0; // top right bottom left = 0
  z-index: 50;
    width: 150px;
  height: 130px;
  cursor: pointer;
  justify-self: center;
}

.home-link {
  font-family: $font-serif;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
  color: $nude;
  margin-left: $spacing-sm;
  &:hover {
    color: $sauge-fonce;
  }
}

.burger {
  position: absolute;
  top: 15%;
  left: 90%;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: $nude;
  &:hover {
    transform: scale(1.2);
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
  }
  @include md {
    left: 86%;
    font-size: 1.5rem;
  }
}

.mobile-menu {
  display: none; // caché par défaut

  position: absolute;
  top: 100px;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  background: $bleu-turkish;
  border: 1px solid $bleu-turkish;

  border-radius: $radius-md 0 0 $radius-md;
  padding: $spacing-sm $spacing-md;
  width: 110px;
  /* caché par défaut */
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;

  @include lg {
    width: 100px;
  }
  @include md {
    width: 95px;
  }
  @include sm {
    width: 90px;
  }
  @include xs {
    width: 70px;
  }

  .home-link {
    display: block;
    color: $nude;
    font-size: 1rem;
    margin: 12px 0;
    @include lg {
      font-size: 18px;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 12px;
    }
  }
  /* affichage quand le burger est ouvert */
  &.open {
    transform: translateX(0);
    display: block;
  }
}
