// src/sass/_colors.scss

$bleu-turkish: #104245;
$sauge-fonce: #6d8c6b;
$sauge-clair: #a8c3a0;
$brun: #4a3f35;

$nude-clair: #f5d5a5;
$nude: #f8e6d5;
$nude-fonce: #d9a273;
$nude-rose: #d4a78c;

$vert-plante: #a8b276;
$vert-plante-clair: #d3de9d;

$vert-sombre: #90a88f;

$blanc: #ffffff;
$noir: #2e2e2e;


//demain jattaque lattribution des couleurs avant attaquer les autre spages du site notment presta et contact