.questions-title {
  align-self: center;
  color: #f8e6d5;
  font-family: "Libre Baskerville";
  font-weight: normal;
  margin-bottom: 3%;
}

.questions-collapses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #104245;
  width: 85%;
}
