@use "../../style/main" as *;

.questions-container {
  background: linear-gradient(
    180deg,
    $bleu-turkish 0%,
    $brun 35%,
    $brun-md 54%,
    $brun-lgt 60%,
    $brun-md 66%,
    $brun 78%,
    $bleu-turkish 90%
  ); /* beige vers vert clair */
  display: flex;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
  width: 90%;
}

.questions-collapses {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  .fm-collapse.questions {
    border-radius: 10px;
    background-color: $brun-clair;
    margin-bottom: 5%;
    border: none;
    opacity: 0.8;
  }
}
