@use "../../style/main" as *;

.questions-container {
  display: flex;
  flex-direction: column;
  font-family: $font-serif;
  width: 90%;
  background: linear-gradient(180deg,$bleu-turkish 0%, $bleu-turkish-md 25%,$vert-sombre 50%, $brun 75%, $bleu-turkish 100%);
}

.questions-collapses {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  .fm-collapse.questions {
    border-radius: 10px;
    background-color: $nude;
    margin-bottom: 5%;
    border: none;
    opacity: 0.8;
  }
}
