@use "../../style/main" as *;

.intro_section {
  display: flex;
  align-items: center;
  background-color: $bleu-turkish;
  width: 100%;
  height: 230px;
}

.decor-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bleu-turkish;
  overflow: hidden;
  .leaf {
    position: absolute;
    width: 50px;
    height: auto;
    opacity: 0.6;
    transition: all 0.5s ease; // un peu translucide pour un effet décor
  }

  .leaf1 {
    top: 20px;
    left: 10px;
    transform: rotate(25deg);
  }
  .leaf2 {
    top: 20px;
    right: 17%;
    transform: rotate(-50deg);
  }
  .leaf3 {
    bottom: 10px;
    right: -30px;
    transform: translateX(-50%) rotate(-15deg);
  }
  .leaf4 {
    width: 75px;

    bottom: 0px;
    left: 10px;
    transform: translateX(-50%);
  }
  .leaf5 {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.decor-title {
  position: relative;
  z-index: 2;
  width: 50%;
  color: $nude;
  font-size: 35px;
  font-family: $font-script2;
  font-weight: normal;
  text-align: center;
  @include md {
    font-size: 30px;
  }
  @include sm {
    font-size: 23px;
  }
  @include xs {
    font-size: 20px;
  }
}
