@use "../../style/main" as *;

.fm-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-top: 3%;
  background-color: $bleu-turkish;
}

.copyright {
  font-family: $font-serif;
  font-weight: normal;
  font-size: 17px;
  color: $nude;
  align-self: center;
  @include lg {
    font-size: 16px;
  }
  @include md {
    font-size: 15px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xs {
    font-size: 10px;
  }
}

.social-icons {
  display: flex;
  gap: 20px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    transition: transform 0.3s ease;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
