@use "../../style/main" as *;

.fm-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
  padding-top: 3%;
  background-color: #104245;

  @media only screen and (max-width: 1240px) {
    width: 100%;
  }
}

.copyright {
  font-family: "Libre Baskerville";
  font-weight: normal;
  font-size: 17px;
  color: #f8e6d5;
  align-self: center;
}
