@use "../../style/main" as *;

.naturo-container {
  //background: url("../../assets/images/cadre-naturo.svg") center / 100% 100%;
  background: linear-gradient(180deg, $bleu-turkish 10%, $vert-sombre 40%, $vert-sombre 70%, $bleu-turkish 100%);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-height: 100vh;
  font-family: $font-serif;
  position: relative;
}

.naturo-content {
  width: 70%;
  background-color: $nude;
  //background: linear-gradient(180deg, $bleu-turkish 0%, $vert-sombre 25%, $vert-sombre2 50%, $vert-sombre 75%, $bleu-turkish 100%);
  padding: 40px 50px;
  border: 3px solid $bleu-turkish;
  border-radius: 15px;
  box-shadow: 0 0 25px $nude;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

@keyframes lightPulse {
  0%, 100% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.12);
    opacity: 0.85;
  }
}

.naturo-content::before {
  animation: lightPulse 6s ease-in-out infinite;
}


.naturo-title {
  color: $bleu-turkish;
  font-weight: normal;
  border-bottom: 2px solid $brun; /* ligne sous le titre */
}

.naturo-subtitle {
  font-family: $font-serif;
  font-size: 24px;
  color: $bleu-turkish;
  margin-top: 30px;
  margin-bottom: 15px;
  border-left: 4px solid $vert-sombre;
  padding-left: 10px;
  @include lg {
    font-size: 19px;
  }
  @include md {
    font-size: 17px;
  }
}

.naturo-text {
  font-size: 16px;
  line-height: 1.8;
  color: $bleu-turkish;
  margin-bottom: 25px;
  text-align: start;
  @include lg {
    font-size: 15px;
  }
  @include md {
    font-size: 12px;
  }
}

.naturo-text:first-letter {
  font-size: 22px;
  font-weight: bold;
  color: $bleu-turkish-md;
  @include lg {
    font-size: 20px;
  }
  @include md {
    font-size: 16px;
  }
}

/* CTA */
.naturo-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10%;
  flex-wrap: wrap;
}

.cta-naturo-button {
  background: linear-gradient(45deg, $brun, $sauge-fonce);
  color: $nude;
  border: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
  @include md {
    font-size: 13px;
  }
  @include sm {
    font-size: 12px;
  }
  @include xs {
    font-size: 11px;
  }
}

.cta-naturo-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
  background: linear-gradient(45deg, $sauge-fonce, $brun);
}

/**
.decor-section {
  position: relative;
  width: 100%;
  height: 100%;
  .deco {
    position: absolute;
    width: 50px;
    height: auto;
    opacity: 0.6;
    transition: all 0.5s ease;
  }

  .deco1 {
    top: 50px;
    left: -80px;
    transform: rotate(25deg);
  }
  .deco3 {
    width: 65px;
    bottom: 50px;
    right: -140px;
    transform: translateX(-50%) rotate(-15deg);
  }
  .deco4 {
    width: 85px;
    bottom: 100px;
    left: -70px;
    transform: translateX(-50%);
  }
  .deco5 {
    width: 65px;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
}
*/