@use "../../style/main" as *;

.prestations-section {
  text-align: center;
  background: linear-gradient(180deg, $bleu-turkish 10%, $bleu-turkish-md 30%, $nude-fade 60%, $bleu-turkish-md 80%, $bleu-turkish 98%);
  padding: 20px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


.prestations-section::before,
.prestations-section::after {
  content: "";
  position: absolute;

  left: -120px;   // 👈 dépassement horizontal
  right: -120px;

  height: 120px;

  background-image: url("../../assets/images/zelige-carre-multi.svg");
  background-repeat: repeat-x;
  background-size: 80px auto;
  background-position: left center;

  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

/* Frise du haut */
.prestations-section::before {
  top: 25%;
  transform: translateY(-50%);
  @media (max-width: 873px)  {
  top: 20%;

}
}
/* Frise du bas */
.prestations-section::after {
  top: 95%;
  transform: translateY(-50%);
}

/* contenu au-dessus */
.prestations-section > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 700px) {
  .prestations-section::before,
  .prestations-section::after {
    top: -120px;      // 👈 dépasse en haut
    bottom: -120px;   // 👈 dépasse en bas
    height: auto;

    width: 85px;

    background-repeat: repeat-y;
    background-size: auto 80px;
    background-position: center top;

    transform: none; // 🔥 reset obligatoire
  }

  /* frise gauche */
  .prestations-section::before {
       left: -40px;   // 👈 dépasse volontairement
    right: auto; 
  }

  /* frise droite */
  .prestations-section::after {
      right: -40px;  // 👈 dépasse volontairement
    left: auto;
  }
}

.prestations-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 10% 0px;
}

.prestation-widget {
  all: unset;
  width: 230px;
  height: 200px;
  padding: 1rem;
  background-color: $nude;
  //border: 1.5px solid $bleu-turkish-md;
  border-radius: 15px;
  box-shadow: 0 0 22px $nude;

  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
  @include md {
    width: 200px;
    height: 170px;
  }

  .widget-title {
    font-family: $font-serif;
    font-size: 17px;
    margin-bottom: 0.5rem;
    color: $bleu-turkish;
    @include lg {
      font-size: 16px;
    }
    @include md {
      font-size: 14px;
    }
    @include sm {
      font-size: 13px;
    }
    @include xs {
      font-size: 12px;
    }
  }

  .widget-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .widget-info {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $bleu-turkish; // ou une de tes couleurs
    font-size: 14px;
    font-weight: bold;
    color: $bleu-turkish;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #104245;
      color: #fff;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }
}

.presta-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presta-modal-content {
  background-color: $nude;
  padding: 1rem;
  width: 450px;
  text-align: left;
  border: 3px solid $bleu-turkish-md;
  border-radius: 15px;
  box-shadow: 0 0 25px $bleu-turkish-md;

  @include sm {
    width: 250px;
  }

  .modal-title {
    font-size: 18px;
    color: $bleu-turkish;
    font-family: $font-serif;

    @include lg {
      font-size: 17px;
    }
    @include md {
      font-size: 15px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 13px;
    }
  }

  .modal-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    margin: 0;
    margin-bottom: 2%;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .presta-button {
    font-family: $font-serif;
    background: linear-gradient(45deg, $bleu-turkish, $bleu-turkish-md);
    color: $nude;
    border: none;
    border-radius: 10px;
    padding: 12px 23px;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 2%;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
    @include sm {
      font-size: 11px;
      padding: 10px 17px;
    }
  }

  .presta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
    background: linear-gradient(45deg, $bleu-turkish-md, $bleu-turkish);
  }
}
