@use "../../style/main" as *;

.prestations-section {
  text-align: center;
  background: linear-gradient(180deg, $bleu-turkish 0%, $vert-sombre 35%, $vert-plante 50%, $vert-sombre 70%, $bleu-turkish 100%);
  padding: 20px 20px;
  min-height: 100vh;
}

.prestations-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 10%;
}

.prestation-widget {
  all: unset;
  width: 230px;
  height: 200px;
  padding: 1rem;
  border-radius: 8px;
  background-color: $nude;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
  @include md {
    width: 200px;
    height: 170px;
  }

  .widget-title {
    font-family: $font-serif;
    font-size: 17px;
    margin-bottom: 0.5rem;
    color: $bleu-turkish;
    @include lg {
      font-size: 16px;
    }
    @include md {
      font-size: 14px;
    }
    @include sm {
      font-size: 13px;
    }
    @include xs {
      font-size: 12px;
    }
  }

  .widget-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .widget-info {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $bleu-turkish; // ou une de tes couleurs
    font-size: 14px;
    font-weight: bold;
    color: $bleu-turkish;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #104245;
      color: #fff;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: $nude;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  @include sm {
    width: 260px;
  }

  .modal-title {
    font-size: 18px;
    color: $bleu-turkish;
    font-family: $font-serif;

    @include lg {
      font-size: 17px;
    }
    @include md {
      font-size: 15px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 13px;
    }
  }

  .modal-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    margin: 0;
    margin-bottom: 2%;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .presta-button {
    font-family: $font-serif;
    background: linear-gradient(45deg, $vert-plante, $vert-sombre);
    color: $brun;
    border: none;
    border-radius: 10px;
    padding: 12px 23px;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 2%;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
    @include sm {
      font-size: 11px;
      padding: 10px 17px;
    }
  }

  .presta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
    background: linear-gradient(45deg, $vert-sombre, $vert-plante);
  }
}
