@use "../../style/main" as *;

.prestations-section {
  text-align: center;
  background: linear-gradient(180deg, $bleu-turkish 15%, $bleu-turkish-md 30%, $nude 60%, $bleu-turkish-md 80%, $bleu-turkish 98%);
  /*
  background: white url("../../assets/icons/decoration.png") center / 100% 100% repeat;
  */
   // background: url("../../assets/images/bg-zelige-top.svg") center / 100% 100%;

  padding: 20px 20px;
  min-height: 100vh;
    position: relative;
  overflow: hidden;
}

.prestations-section {
  position: relative;
  overflow: hidden;
}

.prestations-section::before,
.prestations-section::after {
  content: "";
  position: absolute;
    left: 0;
  right: 0;
  width: 100%;
  height: 120px;

  background-image: url("../../assets/images/zelije-violet.svg");
  background-repeat: repeat-x;
  background-size: 80px auto;
   background-position: left center;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

/* Frise du haut */
.prestations-section::before {
  top: 37%;
  transform: translateY(-50%);
}

/* Frise du bas */
.prestations-section::after {
  top: 70%;
  transform: translateY(-50%);
}

/* contenu au-dessus */
.prestations-section > * {
  position: relative;
  z-index: 1;
}

@include sm {
  .prestations-section::before,
  .prestations-section::after {
   top: 0;
    bottom: 0;
    height: 100%;

    width: 90px;

    background-repeat: repeat-y;
    background-size: auto 80px;
    background-position: center top;

    transform: none; // 🔥 reset obligatoire
  }

  /* frise gauche */
  .prestations-section::before {
    left: 0;
    top: 0;
    transform: none;
  }

  /* frise droite */
  .prestations-section::after {
    right: 0;
    top: 0;
    transform: none;
  }
}


.prestations-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 10%;
}

.prestation-widget {
  all: unset;
  width: 230px;
  height: 200px;
  padding: 1rem;
  border-radius: 8px;
  background-color: $nude;
 // border: 1px solid $bleu-turkish;
  border-radius: 15px;
  box-shadow: 0 0 20px $nude;

  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
  @include md {
    width: 200px;
    height: 170px;
  }

  .widget-title {
    font-family: $font-serif;
    font-size: 17px;
    margin-bottom: 0.5rem;
    color: $bleu-turkish;
    @include lg {
      font-size: 16px;
    }
    @include md {
      font-size: 14px;
    }
    @include sm {
      font-size: 13px;
    }
    @include xs {
      font-size: 12px;
    }
  }

  .widget-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .widget-info {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $bleu-turkish; // ou une de tes couleurs
    font-size: 14px;
    font-weight: bold;
    color: $bleu-turkish;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #104245;
      color: #fff;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }
}

.presta-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presta-modal-content {
  background-color: $nude;
  padding: 1rem;
  width: 450px;
  text-align: left;
  border: 3px solid $bleu-turkish-md;
  border-radius: 15px;
  box-shadow: 0 0 25px $bleu-turkish-md;

  @include sm {
    width: 250px;
  }

  .modal-title {
    font-size: 18px;
    color: $bleu-turkish;
    font-family: $font-serif;

    @include lg {
      font-size: 17px;
    }
    @include md {
      font-size: 15px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 13px;
    }
  }

  .modal-text {
    font-family: $font-serif;
    font-size: 16px;
    color: $bleu-turkish;
    margin: 0;
    margin-bottom: 2%;
    @include lg {
      font-size: 15px;
    }
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 11px;
    }
  }

  .presta-button {
    font-family: $font-serif;
    background: linear-gradient(45deg, $bleu-turkish, $bleu-turkish-md);
    color: $nude;
    border: none;
    border-radius: 10px;
    padding: 12px 23px;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 2%;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(100, 140, 80, 0.2);
    @include sm {
      font-size: 11px;
      padding: 10px 17px;
    }
  }

  .presta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(100, 140, 80, 0.3);
    background: linear-gradient(45deg, $bleu-turkish-md, $bleu-turkish);
  }
}
