@use "../../style/main" as *;

.banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  @include md {
    height: 260px;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  pointer-events: none;
  z-index: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overlay {
    justify-items: center;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $nude;
    text-align: center;
    @include xs {
      width: 70%;
    }
  }
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.fm-banner {
  font-size: 29px;
  font-family: $font-script1;
  font-weight: bold;
  @include lg {
    font-size: 20px;
  }
  @include md {
    font-size: 1.8rem;
  }
  @include sm {
    font-size: 1.5rem;
  }
  @include xs {
    font-size: 1.5rem;
  }
}

.title-banner {
  font-family: $font-script2;
  align-self: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  @include md {
    font-size: 1.8rem;
  }
  @include sm {
    font-size: 1.5rem;
  }
  @include xs {
    font-size: 1.3rem;
  }
}
.subtitle-fm {
  font-family: $font-serif;
  font-size: 1.3rem;
  font-weight: 600;
  @include md {
    font-size: 1.1rem;
  }
  @include sm {
    font-size: 1rem;
  }
  @include xs {
    font-size: 0.9rem;
  }
}


.title-banner-second {
  font-family: $font-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  @include md {
    font-size: 1.4rem;
  }
  @include sm {
    font-size: 1.2rem;
  }
  @include xs {
    font-size: 1.1rem;
  }
}


.contact-btn {
  background-color: #104245;
  color: $nude;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
}

.banner-link {
  font-family: $font-serif;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
  color: $nude;
  margin-left: $spacing-sm;
  &:hover {
    color: $sauge-fonce;
  }
  @include sm {
    font-size: 15px;
  }
  @include xs {
    font-size: 13px;
  }
}
